body {
    font-family: Arial;
    text-align: center;
    background: #f2f2f2;
}

.card {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    border-radius: 10px;
}
